google-generativeai
tree-sitter
tree-sitter-python
tree-sitter-javascript
tree-sitter-typescript
tree-sitter-php
tree-sitter-java
tree-sitter-go
tree-sitter-ruby
tree-sitter-c-sharp
tree-sitter-c
tree-sitter-cpp
semgrep
typer
rich
prompt_toolkit
openai
python-dotenv
pyyaml
textual